@import "../../styles/sass/all";

.profile-picture {
  @include center;
  width: px-to-rem(350);
  height: px-to-rem(350);
  position: relative;
  border-radius: 50%; /* Makes the border and image circular */
  background: linear-gradient(0deg, rgba(0, 192, 253, 1) 0%, rgba(231, 15, 170, 1) 100%);
  padding: 8px; /* Adjust the padding to match the border size */
  box-sizing: border-box; /* Ensures padding is included in the element's size */


  &__image {
    width: px-to-rem(330);
    height: px-to-rem(330);
    border-radius: 50%;
    @include tablet {
      width: px-to-rem(270);
      height: px-to-rem(270);
    }
    @include desktop {
      width: px-to-rem(330);
      height: px-to-rem(330);
    }
  }

  @include tablet {
    width: px-to-rem(290);
    height: px-to-rem(290);
  }
  @include desktop {
    width: px-to-rem(350);
    height: px-to-rem(350);
  }

}