/* =============================================
=            Mixins                           =
============================================= */

/**
 *
 * Helpful reusable function-like things that will be used to implement
 * styles for components.
 *
 */
@use "sass:map";
@mixin auto-container{

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 px-to-rem(10); /* responsive padding */
    margin: 0 auto;
    max-width: 1400px; /* or your desired max-width */


}
@mixin center {
  align-items: center;
  display: flex;
  justify-content: center;
}
@mixin between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin  android{
  @media (min-width: map.get($breakpoints, "xs")) {
    @content;
  }
}
@mixin  mobile{
  @media (min-width: map.get($breakpoints, "sm")) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: map.get($breakpoints, "md")) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: map.get($breakpoints, "lg")) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map.get($breakpoints, "xl")) {
    @content;
  }
}

@mixin padding($space) {
  padding: map.get($spacing, $space);
}

@mixin margin($space) {
  margin: map.get($spacing, $space);
}

@mixin margin-bottom($space) {
  margin-bottom: map.get($spacing, $space);
}
