@import "../../styles/sass/all";

.content-block {
  &__title {
    font-weight: $fw-bold;
    color: $primary-color;
    text-align: center;

    @include tablet {
      font-size: $fs-xxl;
      line-height: px-to-rem(36);
      margin-bottom: px-to-rem(29);

    }
    @include laptop {
      font-size: px-to-rem(48);
      line-height: px-to-rem(26);
      margin-bottom: px-to-rem(49);
    }
  }

  &__text {
    font-size: px-to-rem(32);
    font-weight: $fw-normal;
    color: $dark-color;
    text-align: center;
    @include tablet {
      font-size: $fs-xl;

    }
    @include laptop {
      font-size: px-to-rem(32);
    }
  }


}