@import "../../styles/sass/all";

.skills {


  &__box {
    margin-top: px-to-rem(104);
    display: grid;
    grid-template-columns: repeat(5,auto);
    column-gap: px-to-rem(20);
    row-gap: px-to-rem(40);

    @include tablet {
      grid-template-columns: repeat(3, auto);
      margin-top: px-to-rem(80);

    }
    @include laptop {
      grid-template-columns: repeat(5, auto);
      margin-top: px-to-rem(104);

  }
    } @include tablet {
          margin: px-to-rem(142) 0 px-to-rem(70);

    }
    @include laptop {
      margin: px-to-rem(172) 0 px-to-rem(107);

    }
}