@import "../../styles/sass/all";

.contact {
  min-height: 50vh;
  position: relative;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: px-to-rem(180);
}