@import "../../styles/sass/all";

.introduction {
  color: $intro-text-color;
  font-family: var(--font-poppins);
  font-weight: $fw-bold;
  font-size:$fs-2xxxl;
  line-height: px-to-rem(70);

  &__title {
    margin-bottom: 1rem;

  } &__sub-title {
text-align: center;
  }


  @include android {
    font-size: $fs-xxl;
    line-height: px-to-rem(44);
    margin-top: px-to-rem(30);


  }

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-size: $fs-xxl;
    line-height: px-to-rem(50);
    margin: px-to-rem(0);

  }

  @include laptop {
    font-size: $fs-xxxl;
    line-height: px-to-rem(60);
  }

  @include desktop {
    font-size:$fs-2xxxl ;
    line-height: px-to-rem(70);

  }


}