@import "../../styles/sass/all";

.introduction {
  color: $intro-text-color;
  font-family: var(--font-poppins);
  font-weight: $fw-bold;
  font-size:$fs-2xxxl ;
  line-height: px-to-rem(70);

  &__title {
    margin-bottom: 1rem;
  }

  &__subtitle {
    margin-bottom: 0.5rem;
  }

  &__name {
    margin-bottom: 1rem;
  }

  &__description {
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-size: $fs-xxl;
    line-height: px-to-rem(50)

  }

  @include laptop {
    font-size: $fs-xxxl;
    line-height: px-to-rem(60);
  }

  @include desktop {
    font-size:$fs-2xxxl ;
    line-height: px-to-rem(70);

  }


}