@import "../../styles/sass/all";

.intro__section {
  display: grid;
  grid-template-columns:1fr 1fr;
  justify-items:center;


  @include android {
    margin: px-to-rem(100) 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  @include tablet {
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-items:center;
  }

  @include laptop {
    margin: px-to-rem(140) 0;
  }

  @include desktop {
    margin: px-to-rem(210) 0 px-to-rem(173);
  }

}