@import "../../styles/sass/all";
.socialMedia{
  @include center;
  gap: px-to-rem(20);
  z-index: 111;
  @include tablet {
    gap: px-to-rem(15);
  }
  @include laptop {
    gap: px-to-rem(20);
  }
}