@import "../../styles/sass/all";
.header{

  @include between;
  padding:px-to-rem(20) 0;
  position: relative;
  margin: 0 auto;
  max-width: 1400px;

  &__group{
    display: flex;
    align-items: center;
    gap: px-to-rem(20);


    @include android {
      display: none;

      &--active {
        width: calc(100% - 60px);
        height: 88vh;
        position: absolute;
        top: px-to-rem(100);
        right: 0;
        left: 0;
        z-index: 11;
        background-color: $primary-color;
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding: px-to-rem(10) px-to-rem(30);
        gap: px-to-rem(30);
      }

    }

    @include laptop {
      gap: px-to-rem(30);
      @include between;
    }
    @include desktop {
      gap: px-to-rem(50);
    }
  }

  @include android {
    background-color: $primary-color;
    max-width: 100%;
    padding: px-to-rem(20);

  }
  @include laptop {
    background-color: $white;
    max-width: 1400px;

  }
}
.burger{

  width: 100%;

  &::after, &::before{

    content: "";

    display: block;

    height: 1px;

    width: 40%;

    margin: auto;

    background-color: white;

    position: relative;

    transition: transform 0.3s;

  }


  &::after{

    top: -5px;

  }


  &::before{

    top: 5px;

  }

}


.burgerActive{


  &::after{

    transform: rotate(45deg);

    top: -1px;

  }


  &::before{

    transform: rotate(-45deg);

    top: 0px;

  }



}