@import "../../styles/sass/all";

.mediaLink {
  @include center;
  border: none;
  border-radius: 100%;


  &--small {
    width: px-to-rem(30);
    height: px-to-rem(30);
    font-size: $fs-lg;

    @include android {
      background-color: $media-link-text-color;
      color: $media-link-bg;
    }
    @include laptop {
      background-color: $media-link-bg;
      color: $media-link-text-color;
    }
  }

  &--medium {
    @include tablet {
      width: px-to-rem(24);
      height: px-to-rem(24);
      font-size: $fs-md;
    }

    @include laptop {
      width: px-to-rem(56);
      height: px-to-rem(56);
      background-color: $media-link-bg;
      color: $media-link-text-color;
      font-size: $fs-lg;
    }
  }


}