@import "../../styles/sass/all";

.mediaLink {
  @include center;
  border: none;
  border-radius: 100%;
  background-color: $media-link-bg;
  color: $media-link-text-color;
  font-size: $fs-lg;

  &--small {

    @include tablet {
      width: px-to-rem(24);
      height: px-to-rem(24);
      font-size: $fs-md;
    }
    @include laptop {
      width: px-to-rem(30);
      height: px-to-rem(30);
      font-size: $fs-lg;
    }
  }

  &--medium {
    @include tablet {
      width: px-to-rem(24);
      height: px-to-rem(24);
      font-size: $fs-md;
    }
    @include laptop {
      width: px-to-rem(56);
      height: px-to-rem(56);
      font-size: $fs-lg;
    }
  }


}