@import "../../../styles/sass/all";

.navbar {
  position: relative;
  gap: px-to-rem(20);
  font-size: $fs-lg;
  transition: transform 0.6s ease-in-out; // Animasyon süresi ve türü

  &__items {
    color: $navbar-color;
    text-decoration: none;

    &--dark {
      color: $white;
    }
  }


  @include android {
    &--active {
      grid-column: 1 / 3;
      display: flex;
      flex-direction: column;
    }

    &__items {
      padding: px-to-rem(14) px-to-rem(10);
      border-bottom: 1px solid $white;
    }
  }

  @include laptop {
    @include center;
    gap: px-to-rem(20);
    font-size: $fs-md;
    transition: transform 0.6s ease-in-out; // Animasyon süresi ve türü
    transform: translateX(0);

  }

  @include desktop {
    gap: px-to-rem(40);
  }
}
