@import "../../styles/sass/all";

.projects-card {
  border-radius: $br-md;
  box-shadow: 0 2px 4px 0 rgba(4, 38, 253, 0.2), 0 5px 15px 0 rgba(255, 255, 255, 0.15);
  overflow: hidden;
  position: relative;

  &__img {
    width: 100%;
    display: block;
    object-fit: cover;
    position: relative;

    @include android{
      height: px-to-rem(200);
    }
    @include  mobile{
      height: px-to-rem(220);
    }

    @include tablet {
      height: px-to-rem(250);
    }
    @include laptop {
      height: px-to-rem(290);
    }
  }

  &__content {
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: px-to-rem(18);

    @include android {
      padding: px-to-rem(18);
      row-gap: px-to-rem(10);
    }
    @include tablet {
      padding: px-to-rem(18);
      row-gap: px-to-rem(10);
    }
    @include laptop {
      padding: px-to-rem(20);
      row-gap: px-to-rem(18);
    }
    @include desktop {
      padding: px-to-rem(28);
    }
  }


  &__title {
    font-size: px-to-rem(28);
    font-weight: $fw-medium;
    line-height: px-to-rem(30);

    @include android{
      font-size: $fs-lg;
      line-height: px-to-rem(20);
    }

    @include tablet {
      font-size: $fs-xl;
      line-height: px-to-rem(30);
    }
    @include laptop {
      font-size: px-to-rem(24);
    }
    @include desktop {
      font-size: px-to-rem(28);
    }
  }

  &__description {
    color: $secondary-color;
    font-size: $fs-md;
    font-weight: $fw-light;
    line-height: px-to-rem(26);

    @include android {
      font-size: $fs-xxs;
      line-height: px-to-rem(20);
    }
    @include tablet {
      font-size: $fs-sm;
      line-height: px-to-rem(26);
    }
    @include laptop {
      font-size: $fs-md;
    }

  }

  &__tech-stack {
    color: $secondary-color;
    font-size: $fs-sm;
    font-weight: $fw-medium;
    line-height: px-to-rem(26);
    @include android{
      font-size: $fs-xxs;
      line-height: px-to-rem(20);
    }@include mobile{
      font-size: $fs-sm;
      line-height: px-to-rem(26);
    }
  }



}