@import "../../styles/sass/all";
.lightMode {
  background-color: $white;
  color: $black;
}

.darkMode {
  background-color: $black;
  color: $white;
}
.layout {
@include auto-container;


  @include mobile {
    padding: 0 px-to-rem(20); /* Adjust padding for desktop screens */
  }
  @include tablet {
    padding: 0 px-to-rem(20); /* Adjust padding for desktop screens */
  }
  @include laptop {
    padding: 0 px-to-rem(30); /* Adjust padding for desktop screens */
  }
  @include desktop {
    padding: 0 px-to-rem(40); /* Adjust padding for desktop screens */
  }
}