@import "../../styles/sass/all";
.lightMode {
  background-color: $white;
  color: $black;
}

.darkMode {
  background-color: $black;
  color: $white;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 px-to-rem(10); /* responsive padding */
  margin: 0 auto;
  max-width: 1400px; /* or your desired max-width */


  @include mobile {
    padding: 0 px-to-rem(10); /* Adjust padding for desktop screens */
  }
  @include tablet {
    padding: 0 px-to-rem(20); /* Adjust padding for desktop screens */
  }
  @include laptop {
    padding: 0 px-to-rem(30); /* Adjust padding for desktop screens */
  }
  @include desktop {
    padding: 0 px-to-rem(40); /* Adjust padding for desktop screens */
  }
}